.aa.bg {
	background-position: 120px;
}

.toolbar, .input-toolbar {
	position: absolute;
	right: 0;
	top: 100px;
}

.toolbar {
	width: 150px;
}

.toolbar .btn {
	border-radius: 0;
	border-width: 2px;
	padding-right: 30px;
	border-right: none;
	text-align: left;
	font-size: 18px;
	rigth: 0px;
}

.slidebar {
	width: 300px;
	height: 100%;
	background-color: #333333;
	position: absolute;
	border-right: 3px solid #222222;
}

.slidebar .nav {
	color: white;
}

.slidebar .nav li {
	padding: 5px 10px;
	font-size: 18px;
}

.slidebar .nav li:hover {
	background: #222222;
}

.title {
	padding: 10px 10px;
	margin: 10px 0;
	color: white;
	font-size: 30px;
	border-bottom: 1px solid #fff;
}

.animate.ng-hide-add {
	transition:all linear 1.2s;
	display:block!important;
}

.animate.ng-hide-remove {
	transition:all linear .46s;
	transition-delay: .2s;
	display:block!important;
}

.animate.ng-hide-add.ng-hide-add-active,
.animate.ng-hide-remove {
	right: -100%;
	/*opacity: 0;*/
}

.animate.ng-hide-add,
.animate.ng-hide-remove.ng-hide-remove-active {
	/*opacity:1;*/
	right: 0px;
	/*width: 150px;*/
}

.input-toolbar {
	padding: 10px;
	width: 350px;
	/*right: -100%;*/
	background: #fff;
	box-shadow: 0px 0px 2px #555;
}

.popover {
	color: #000;
	width: 500px;
}

.popover .icons {
	font-size: 22px;
}

.popover .icons .active {
	color: #CF4440;
}

.popover p {
	font-size: 18px;
}