<div ng-controller="MsgCreateCtrl">
    <form ng-submit="leaveMsg(leave_msg)">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="name" ng-model="leave_msg.name"/>
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="leave your message" ng-model="leave_msg.body"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </form>
</div>