<div ng-controller="MsgCtrl">
    <blockquote ng-repeat="msg in msgs">
    	<div class='pull-left'>
    		<div ng-show="!msg.editMode">
		        <h4 class="name">{{ msg.name }}</h4>
		        <h4 class="body"><small>{{ msg.body }}</small></h4>
    		</div>
	        <div ng-show="msg.editMode">
		        <form ng-submit="Msgmodify(msg)">
		        	
			        <input type="text" class="form-control" ng-model="msg.name">
		        	<input type="text" class="form-control" ng-model="msg.body">
        			<button class="btn btn-primary" type="submit">Send</button>
				</form>
        	</div>
    	</div>
    	<div class='pull-right'>
    		<span class="glyphicon glyphicon-pencil" ng-click="msg.editMode = !msg.editMode"></span>
    		<span class="glyphicon glyphicon-remove" ng-click="MsgDelete(msg)"></span>
    	</div>
		<div class="clearfix"></div>
    </blockquote>
</div>
